body{
    background: #f3e5d8;
}
.container{
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400, 600, 700;
    word-spacing: 7px;
    text-align: left;
}
.title{
    font-family: "Young serif", serif;
    font-weight: 400;
}
.omelette{
    display: grid;
    place-items: center;
}
.omelette img {
    display: block;
    width: 100%;
    height: auto;
}
.preparation{
    color: maroon;
}

.subtitle{
    color: brown;
}
.bold {
    font-weight: bold;
}
li::marker{
    font-weight: bold;
    color: brown;
}
li{
    padding-left: 25px;
}
.box{
   background-color: hsl(330, 100%, 98%);
   padding: 20px;
   width: 100%;
   box-sizing: border-box;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.brown{
    color: brown;
    font-weight: 700;
}
td{
    padding: 15px;
    border-bottom: 1px solid;
}
@media (max-width:768px) {
    .container{
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    h1{
        font-size: 30px;
    }
    p,li {
        font-size: 15px;
        line-height: 1.5;
    }
    .box{
        padding: 15px;
    }
}
